{% extends "mainstay_kanban/base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
  <p>Welcome to the Kanban Board</p>

  <p><a href="{% url 'mainstay_kanban:add_task' %}">Add a new task</a></p>

  <h3>Tasks</h3>
  <div class="col-lg-4">
	<h4>Todo</h4>
    {% for t in todo %}
      <p>{{ t.name }} -
		<a href="{% url 'mainstay_kanban:edit_task' t.id %}">Edit</a> |
		<a href="{% url 'mainstay_kanban:start_task' t.id %}">Start</a>
	  </p>
    {% endfor %}
  </div>
  <div class="col-lg-4">
	<h4>In Progress</h4>
    {% for t in in_progress %}
      <p>{{ t.name }} -
		<a href="{% url 'mainstay_kanban:edit_task' t.id %}">Edit</a> |
		<a href="{% url 'mainstay_kanban:complete_task' t.id %}">Complete</a>
	  </p>
    {% endfor %}
  </div>
  <div class="col-lg-4">
	<h4>Completed</h4>
    {% for t in completed %}
      <p>{{ t.name }} - <a href="{% url 'mainstay_kanban:edit_task' t.id %}">Edit</a></p>
    {% endfor %}
  </div>
{% endblock %}
